<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
</head>

<body id="index" class="home">
  <header id="banner" class="body">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        {% for title, link in MENUITEMS %}
        <li class="nav-item">
          <a href="{{ link }}">{{ title }}</a>
        </li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU -%}
        {% for pg in pages %}
        <li{% if pg == page %} class="active nav-item"{% endif %}>
          <a class="nav-link"  href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
        </li>
        {% endfor %}
        {% endif %}
        </ul></nav>
  </header><!-- /#banner -->
  {% block content %}
  {% endblock %}

  <footer id="contentinfo" class="body">
    {% if SOCIAL%}
      <div class="social">
        <ul>
        {% for name, link in SOCIAL %}
          <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
      </div><!-- /.social -->
    {% endif %}
  </footer><!-- /#contentinfo -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>