{% extends "base.html" %}

{% block content %}
<div class="row">
 <div class="col">
  <h2>Qui suis-je ?</h2>
  <p>Actuellement développeur Python, j'ai été musicien et professeur durant une
     dizaine d'années à Bruxelles, Lausanne et Lyon.
  </p>
  <h2>J'aime le front !</h2>
  <p>Je suis à la recherche d'un poste de développeur Python. 
     J'aime aussi bien le back-end que le front-end et je ne demande 
     qu'à découvrir et éxpérimenté de nouveaux frameworks.</p>
   <h2>Le Devops m'attire...</h2>
   <p>Après quelques découvertes du déploiement d'applications Django 
      avec Gunicorn et Nginx, j'aime l'environnement Linux et la ligne de commande.</p>
    <h2>Et la musique...</h2>
    <p>Saxophinste de jazz de formation, la musique est une passion.</p>
 </div>
</div>
{% endblock %}