<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
</head>

<body id="index" class="home">
  <div class="d-flex master">
    {% include "portfolio.html" %}
    <div class="main col-8 mx-auto my-auto container" id="home">
      <h1 class="my-name text-center mb-5">Cédric Migazzi</h1>
      <hr>
      <div class="am-like mx-auto d-flex justify-content-around">
        <p class="text-center my-2">I am french, developer, musician, teacher</p>
        <p class="my-2 d-none d-md-block">&</p>
        <p class="text-center my-2">I like web, python, javascript, jazz</p>
      </div>
      <hr class="mb-5">
      <div class="row text-center">
        <div class="col text-center">
          <button type="button" class="btn btn-outline-primary" onclick="toPortfolio()">See my works</button>
        </div>
      </div>
    </div>
  </div><!-- #index -->
  <footer class="">
    {% if SOCIAL%}
      <div class="col-8 social mx-auto d-flex justify-content-around pb-2">
        {% for name, link in SOCIAL %}
          {% if name == "GitHub" %}
            <a href="{{ link }}" target="_blank"><i class="fab fa-github fa-lg fa-2x"></i></a> 
          {% endif %}
          {% if name == "LinkedIn" %}
            <a href="{{ link }}" target="_blank"><i class="fab fa-linkedin fa-lg fa-2x"></i></a>
          {% endif %}
        {% endfor %}
          
      </div><!-- /.social -->
    {% endif %}
  </footer><!-- /#contentinfo -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{{ SITE_URL }}/theme/js/main.js"></script>
</body>
</html>