<div id="portfolio" class="main col-8 mx-auto my-auto container">
  <div class="text-right mb-3">
    <a href="" onclick="toHome()">
        <i class="fas fa-times fa-lg fa-2x"></i>
    </a>
  </div>
  <div class="d-flex flex-wrap justify-content-around">
    {% for article in articles %}
    <div class="mb-3 mx-3" id="{{ article.label }}-wrapper">
      <div class="row">
        <a data-toggle="modal" data-target="#{{ article.label }}Modal"">
          <div class="preview d-flex h-100" id="{{ article.label }}-title">
            <p class="align-self-center text-center mx-auto font-weight-bold">{{ article.title }}</p>
          </div>
        </a>
      </div>      
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ article.label }}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ article.title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-times fa-lg"></i>
            </button>
          </div>
          <div class="modal-body">
            {{ article.content }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>